{% extends "index.html" %}

{% block title %}
<title>Change Password</title>
{% endblock title %}

{% block content %}
<div>
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
</div>

<form class="" action="change_password" method="POST">
    {% csrf_token %}
    <div>
        <label for="old_password">Enter old password</label>
        <input type="password" name="old_password" />

        <label for="new_password">Enter new password</label>
        <input type="password" name="new_password" />

        <label for="confirm_new_password">Confirm new password</label>
        <input type="password" name="confirm_new_password" />

    </div>

    <div class="">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock content %}