{% extends 'index.html' %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<div>
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}
    {% endif %}
</div>

<form class="" action="login" method="POST">
    {% csrf_token %}
    <div>
        <label for="user_id">Enter user id</label>
        <input type="name" name="user_id" />

        <label for="password">Enter your password</label>
        <input type="password" name="password" />

    </div>

    <div class="">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock content %}